<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="">&ndash;&gt;-->
<!--&lt;!&ndash;  <head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="utf-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <meta http-equiv="X-UA-Compatible" content="IE=edge">&ndash;&gt;-->
<!--&lt;!&ndash;    <meta name="viewport" content="width=device-width,initial-scale=1.0">&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="icon" href="<%= BASE_URL %>favicon.ico">&ndash;&gt;-->
<!--&lt;!&ndash;    <title><%= htmlWebpackPlugin.options.title %></title>&ndash;&gt;-->
<!--&lt;!&ndash;  </head>&ndash;&gt;-->
<!--&lt;!&ndash;  <body>&ndash;&gt;-->
<!--&lt;!&ndash;    <noscript>&ndash;&gt;-->
<!--&lt;!&ndash;      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>&ndash;&gt;-->
<!--&lt;!&ndash;    </noscript>&ndash;&gt;-->
<!--&lt;!&ndash;    <div id="app"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; built files will be auto injected &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  </body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Vue 3</title>-->
<!--    <script src="https://unpkg.com/vue@3"></script>-->
<!--</head>-->
<!--<style>-->
<!--    html, body {-->
<!--        height: 100%;-->
<!--    }-->

<!--    body {-->
<!--        display: grid;-->
<!--        place-items: center;-->
<!--    }-->

<!--    .text-red {-->
<!--        color: red;-->
<!--    }-->

<!--    .text-green {-->
<!--        color: green;-->
<!--    }-->
<!--</style>-->
<!--<body>-->

<!--<div id="app">-->
<!--    <section>-->
<!--        <h1 v-show="incompleteAssignments.length"> In progress</h1>-->
<!--        <ul>-->
<!--            <li v-for="assigment in incompleteAssignments"-->
<!--            :key="assigment.id">-->
<!--                <label>-->
<!--                {{assigment.name}}-->
<!--                    <input type="checkbox" v-model="assigment.complete">-->
<!--                </label>-->
<!--                </li>-->
<!--        </ul>-->
<!--    </section>-->

<!--    <section>-->
<!--        <h1 v-show="completeAssignments.length">Completed</h1>-->
<!--        <ul>-->
<!--            <li v-for="assigment in completeAssignments"-->
<!--                :key="assigment.id">-->
<!--                <label>-->
<!--                    {{assigment.name}}-->
<!--                    <input type="checkbox" v-model="assigment.complete">-->
<!--                </label>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </section>-->
<!--</div>-->

<!--<script>-->
<!--    let app = {-->
<!--        data() {-->
<!--            return {-->
<!--                assignments: [-->
<!--                    {name: 'Physics', complete: false, id:1},-->
<!--                    {name: 'Chemistry', complete: false, id:2},-->
<!--                    {name: 'Maths', complete: false, id:3}-->
<!--                ]-->
<!--            }-->
<!--        },-->

<!--        computed: {-->
<!--            incompleteAssignments() {-->
<!--              return   this.assignments.filter(assignment => !assignment.complete)-->
<!--            },-->

<!--            completeAssignments() {-->
<!--              return   this.assignments.filter(assignment => assignment.complete)-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--    Vue.createApp(app).mount('#app');-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
